.conversation-query {
	background-color: #868e96; 
	color: #fff; 
	border-radius: 10px; 
	max-width: 250px; padding: 10px; 
	border: solid 1px #212529; 
	margin-bottom: 10px; 
	margin-left: 15px;
}

.conversation-response {
	background-color: #6b6f73; 
	color: #fff; 
	border-radius: 10px; 
	max-width: 250px; padding: 10px; 
	border: solid 1px #6b6f73;
	margin-bottom: 10px; 
	margin-left: 25px;
}

.button-custom {
	margin-bottom: 20px;
}

.ray-container {
	position: fixed; 
	right: 200px; 
	bottom: 20px; 
	background: #fff;
	max-width:450px;	
	height: 700px;
    z-index: 9000000; 
    padding: 40px;  
    border-radius: 10px; 
    border: solid lightgrey;
    display: none;   
    overflow: auto; 
}

.ray-button {	
	position: fixed !important; 
	bottom: 130px; 
	right: 45px;
	z-index: 2000000;
}



